body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .login-container {
    width: 300px;
    margin: 200px auto;
    padding: 3%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-box {
    margin-bottom: 10px;
    margin-left: -18px;
  }
  
  .form-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  p {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  p a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  